<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mynavbar">
				<span class="sr-only">Toggle Navigation</span>
			      <span class="icon-bar"></span>
			      <span class="icon-bar"></span>
			      <span class="icon-bar"></span>
		      </button>
			<a class="navbar-brand" href="/pages/Home">Aakar Dwivedi</a>
		</div>
		<div id="mynavbar" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li ><a href="/pages/Home">HOME</a></li>
				<li><a href="https://drive.google.com/open?id=0B58YHCIBfEFfTDJpZ3k4ZENaRHM" target="blank">RESUME</a></li>
				<li class="contact active"><a href="/pages/contact">CONTACT!</a></li>
			</ul>
		</div>
	</div>
</nav>
<!--<header class="jumbotron">
	<div class="container">
		<div class="row row-content centre">
			<br><br>
			<h1>Aakar Dwivedi</h1>
			<p>A budding developer</p>
			<br>
			<a href="https://www.facebook.com/aakardwivedi" target="blank">
				<%= image_tag("facebook.png") %></a>
			<a href="https://www.github.com/aakardwivedi" target="blank">
				<%= image_tag("github.png")%></a>
			<a href="http://www.quora.com/Aakar-Dwivedi" target="blank">
				<%= image_tag("quora.png")%></a>
			<a href="https://www.linkedin.com/in/aakar-dwivedi-0201a5b0/" target="blank">
				<%= image_tag("linkedin.png")%></a>
			<br>
		</div>
	</div>
</header>-->
<header>
<br><br><br><br>
</header>
<body>
	<div class="container">
		<div class="row row content">
			<center>
				<h5 class="header section-title">
					<i class="fa fa-envelope-o" aria-hidden="true"></i>
					Let's Get in Touch! <hr class="amber accent-3">
				</h5>
			<center>
			<form >
				<label>
					<span align=left><i class="material-icons" style="padding-right: 10px;" id="icon_prefix">person_pin</i><span id="form-text">Name</span></span>
					<span align=left><i class="material-icons" style="padding-right: 10px;" id="icon_prefix">person_pin</i><input for="icon_prefix" type="text" placeholder="Name" title="Name">
					
					<span align=left><i class="material-icons" style="padding-right: 10px;">email</i><span id="form-text">Enter your email</span></span>
					<div class="input-field inline"><input type="email" placeholder="Email" title="email"></div>
					
					<i class="material-icons" style="padding-right: 10px;">contact_phone</i><span id="form-text">Telephone</span>
					<input type="tel" placeholder="Phone">
					
					<i class="material-icons" style="padding-right: 10px;">subject</i><span id="form-text">Subject</span>
					<input type="text" placeholder="Subject" title="Subject">
					
					<i class="material-icons" style="padding-right: 10px;">message</i><span id="form-text">Message</span>
					<input placeholder="Message"></input>
				</label>
			</form>
            </div>
	</div>
</body>