<div class="container">
	<div class="row row-content">
		<h1>Aakar Dwivedi</h1>
		<p>A budding developer</p>
		<br>
		<a href="https://www.facebook.com/aakardwivedi" target="blank">
			<%= image_tag("facebook.png") %></a>
		<a href="https://www.github.com/aakardwivedi" target="blank">
			<%= image_tag("github.png")%></a>
		<a href="http://www.quora.com/Aakar-Dwivedi" target="blank">
			<%= image_tag("quora.png")%></a>
		<a href="https://www.linkedin.com/in/aakar-dwivedi-0201a5b0/" target="blank">
			<%= image_tag("linkedin.png")%></a>
		<br>
	</div>
</div>
