<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="/pages/Home">Aakar Dwivedi</a>
		</div>
		<ul class="nav navbar-nav">
			<li class="active"><a href="/pages/Home">HOME</a></li>
			<li><a href="https://drive.google.com/open?id=0B58YHCIBfEFfTDJpZ3k4ZENaRHM" target="blank">RESUME</a></li>
			<li class="contact"><a href="pages/contact">CONTACT</a></li>
		</ul>
	</div>
</nav> 
<header class="jumbotron">
	<div class="container">
		<div class="row row-content">
			<h1>Aakar Dwivedi</h1>
			<p>A budding developer</p>
			<br>
			<a href="https://www.facebook.com/aakardwivedi" target="blank">
				<%= image_tag("facebook.png") %></a>
			<a href="https://www.github.com/aakardwivedi" target="blank">
				<%= image_tag("github.png")%></a>
			<a href="http://www.quora.com/Aakar-Dwivedi" target="blank">
				<%= image_tag("quora.png")%></a>
			<a href="https://www.linkedin.com/in/aakar-dwivedi-0201a5b0/" target="blank">
				<%= image_tag("linkedin.png")%></a>
			<br>
		</div>
	</div>
</header>
<body>
</body>